body{
 padding-bottom: 20px;
}
.home-shp-btn{
  background-color: rgb(19, 134, 128); 
  color: white; 
  padding: 10px; 
  border-radius: 4px; 
  border: none;
}
.home-shp-btn:hover{
  background-color: white;
  color: rgb(19, 134, 128);
  border:solid 2px rgb(19, 134, 128);
}
.deals-btn{
  margin-top: 10px; 
  background-color: transparent; 
  border: 1px rgb(19, 134, 128);
  color: rgb(19, 134, 128); 
  padding: 10px;
  border: solid 1px seagreen;
}
.deals-btn:hover{
  margin-top: 10px; 
  background-color: rgb(19, 134, 128); 
  border: solid 1px seagreen;
  color: white; 
  padding: 10px; 
  border-radius: 4px; 
}
.header-1{
  background-color: white;
  position: fixed; /* Fixes the header at the top of the page */
  top: 0;           /* Places the header at the top */
  left: 0;          /* Aligns the header to the left */
  width: 100%;      /* Makes the header span the full width */
  padding: 10px 0;  /* Padding for some spacing */
  z-index: 1000;    /* Ensures the header stays on top of other content */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
}
.logo{
  height: 60px;
}
.forms{
  padding-top: 20px;
  padding-bottom: 40px;
}
form{
  border-color: lightgray;
  border-radius: 10px;
  padding: 12px;
  width: 500px;
}
.searchbar{
  padding: 12px;
  margin-top: 18px;
  margin-right: 80px;
  position: relative;
  height: 40px;
  width: 240px;
}
.login-btn{
  background-color: rgb(19, 134, 128);
  color: white;
  width: 90px;
  padding: 4px;
  float: left;
  border: none;
  border-radius: 5px;
}
.logo:hover{
  cursor: pointer;
}
.compare-btn{
  background-color: rgb(19, 134, 128);
  color: white;
  width: 190px;
  padding: 4px;
  border: none;
  border-radius: 5px;
}
.submit-btn{
  background-color: rgb(19, 134, 128);
  color: white;
  width: 190px;
  padding: 4px;
  border: none;
  border-radius: 5px;
  float: left;
}
.footer-icons{
  height: 30px;
  width: 30px;
}
.payment-method{
  height: 30px;
  width: 200px;
}
.search{
  margin-top: 22px;
  transform: translate(430px);
  position: absolute;
  height: 25px;
  width: 25px;
}
.search:hover{
  cursor: pointer;
}
.heart{
  margin-top: 18px;
  transform: translate(-40px);
  height: 30px;
  position: absolute;
  width: 30px;
}
.heart:hover{
  cursor: pointer;
}
.heart-num{
  padding-left: 4px;
  padding-bottom: 8px;
  height: 20px;
  width: 20px;
  color: white; 
  transform: translate(-20px,10px);
  background-color: rgb(19, 134, 128); 
  position: relative;
  border-radius: 50%;
}
.email-icon{
  height: 30px;
  width: 30px;
}
.cart{
  margin-top: 18px;
  transform: translate(-30px);
  position: absolute;
  margin-left: 18px;
  height: 30px;
  width: 30px;
}
.cart:hover{
  cursor: pointer;
}
.cart-num{
  padding-left: 4px;
  padding-bottom: 8px;
  height: 20px;
  width: 20px;
  color: white; 
  transform: translate(4px,10px);
  background-color: rgb(19, 134, 128); 
  position: relative;
  border-radius: 50%;
}
.links{
  margin-top: 20px;
  margin-right: 40px;
  color: black;
  font-weight: 600;
  text-decoration: none;
}
.links:hover{
  color: rgb(70, 171, 114);
}
.catg-pics{
  height: 150px;
  width: 120px;
}
.card-body{
  align-items: center;
  font-size: 14px;
  text-align: center;
  padding-bottom: 8px;
}
.card:hover{
  cursor: pointer;
}
.big-card:hover{
  cursor: pointer;
}
.big-card-arrival:hover{
  cursor: pointer;
}
.Hot-releases:hover{
  cursor: pointer;
}
.Top-Selling:hover{
  cursor: pointer;
}
.Deals-Outlet:hover{
  cursor: pointer;
}
.Trendy:hover{
  cursor: pointer;
}
.card{
  width: 170px;
  height: 220px;
  font-size: 14px;
  text-align: center;
  border-radius: 18px;
  align-items: center;
  margin-bottom: 20px;
}
.card-img{
  align-content: center;
  border-radius: 18px;
  padding: 6px;
  height: 180px;
  width: 165px;
}
.card-text{
  padding-bottom: 12px;
}
.forms{
  justify-content: space-around;
}
.form{
  border:solid 1px black;
 display: flex;
 flex-direction: column;
 gap: 2px;
}
.btn{
  background-color: lightgray;
  font-weight: 600;
  border: 1px ;
  margin-bottom: 20px;
}
.big-card-img{
  align-content: center;
  border-radius: 18px;
  padding: 6px;
  height: 280px;
  width: 300px;
}
.big-card{
  position: relative;
  width: 300px;
  height: 400px;
  border:solid 1px lightgray;
  font-size: 14px;
  text-align: left;
  border-radius: 18px;
  align-items: center;
  margin-bottom: 20px;
}
.image1{
  object-fit: cover;
  transition: opacity 1s ease;
}
.image2{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0; 
    transition: opacity 1s ease;
}
.big-card:hover .image1{
  opacity: 0;
}
.big-card:hover .image2{
  opacity: 1;
}
.big-card:hover .hov-btn{
  opacity: 1;
}
.hov-btn:hover{
  transform: translate(70px, -260px);
  opacity: 0;
  background-color: seagreen;
}
.hov-btn{
    position: relative;
    transform: translate(70px, -260px);
    opacity: 0;
    padding: 10px 15px;
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    transition: opacity 1s ease;
}
.hov-btn:hover .tooltip{
  visibility: visible;
  opacity: 1;
  padding: 10px 15px;
  background-color:  white;
  color: seagreen;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: opacity 1s ease;
}
.tooltip{
    visibility: hidden;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position above the button */
    left: 50%;  
    margin-left: -75px; /* Offset to center */
    opacity: 0;
    transition: opacity 0.3s ease; /* Smooth fade in/out */
}
.big-card-text{
  margin-left: 14px;
}
.big-card-arrival{
  width: 250px;
  height: 300px;
  border:solid 1px lightgray;
  font-size: 14px;
  text-align: left;
  border-radius: 18px;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 20px;
}
.big-card-img-arrival{
  align-content: center;
  border-radius: 18px;
  padding: 6px;
  height: 200px;
  width: 250px;
}
.shp-btn{
  padding: 8px 14px 8px 14px;
}
.deals{
  margin-left: 80px;
  position: relative;
  width: 600px;
}
.deals-img{
  width: 450px;
  height: 400px;
}
.deals-text{
  position: absolute;
  transform: translate(20%, -140%);
}
.women-clothing{
  position: relative;
  width: 600px;
}
.women-clothing-img{
  width: 450px;
  height: 400px;
}
.women-clothing-text{
  position: absolute;
  transform: translate(10%, -140%);
}
.timer{
  background-color: lightseagreen;
  padding: 4px;
}
.Hot-releases-img{
  height: 60px;
  margin-bottom: 20px;

  width: 60px;
}
.Deals-Outlet-img{
  height: 60px;
  margin-bottom: 20px;

  width: 60px;
}
.Top-Selling-img{
  height: 60px;
  margin-bottom: 20px;
  width: 60px;
}
.Trendy-img{
  height: 60px;
  margin-bottom: 20px;
  width: 60px;
}
.footer-1{
  padding-top: 5px;
  height: 90px;
  display: flex; 
  justify-content: space-around; 
  background-color: rgb(165, 192, 176); 
  margin: 0;
}
.footer-2{
  display: flex; 
  justify-content: space-around;
}
.subs-btn{
  font-size: 14px; 
  background-color: black; 
  height: 40px; 
  color: white; 
  border: none;
  padding-left: 18px;
  padding-right: 18px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.email-bar{
  padding-top: 20px; 
  height: 40px; 
  margin-bottom: 30px;
}
.account{
  border: solid 1px lightgrey;
  padding: 6px 10px 6px 10px;
}
.compare{
  padding-top: 6px;
  padding-bottom: 6px;
  border: solid 1px lightgray;
  text-align: center;
}
.compare-img{
  height: 300px;
  width: 300px;
}
.compare-container{
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  align-content: center;
  justify-self: center;
  grid-template-columns:2fr 4fr 4fr 4fr;
  width: 1100px;
}
.gradient-line {
  width: 100%;
  height: 2px;
  margin-bottom: 40px;
  background: linear-gradient(to right, rgb(19, 134, 128) 30%, lightgray 30% 100%);
}
.gradient-line-trendy {
  width: 220px;
  margin-bottom: 40px;
  height: 2px;
  background: linear-gradient(to right, rgb(19, 134, 128) 30%, lightgray 30% 100%);
}
.compare-colors-1{
  background-color: orange;
  color: orange;
  border-radius: 50%;
}
.compare-colors-2{
  background-color: red;
  color: red;
  border-radius: 50%;
}
.compare-colors-3{
  background-color: yellow;
  color: yellow;
  border-radius: 50%;
}
.fas{
  color: gray;
}
.gt-btn{
  height: 28px; 
  width: 28px; color: white;
  border-radius: 50%; 
  background-color: rgb(19, 134, 128); 
  padding-left: 8px;
}
.lt-btn{
    height: 28px; 
    margin-left: 6px;
    width: 28px; color: white;
    border-radius: 50%; 
    background-color: rgb(19, 134, 128); 
    padding-left: 8px;
}
.gt-btn:hover{
  cursor: pointer;
}
.lt-btn:hover{
  cursor: pointer;
}