body{
 padding-bottom: 20px;
}
.logo{
  height: 60px;
}
.forms{
  padding-top: 20px;
  padding-bottom: 40px;
}
form{
  border-color: lightgray;
  border-radius: 10px;
  padding: 12px;
  width: 500px;
}
.searchbar{
  padding: 12px;
  margin-top: 18px;
  margin-right: 40px;
  position: relative;
  height: 40px;
  width: 360px;
}
.login-btn{
  background-color: rgb(19, 134, 128);
  color: white;
  width: 90px;
  padding: 4px;
  float: left;
  border: none;
  border-radius: 5px;
}
.submit-btn{
  background-color: rgb(19, 134, 128);
  color: white;
  width: 190px;
  padding: 4px;
  border: none;
  border-radius: 5px;
  float: left;
}
.footer-icons{
  height: 30px;
  width: 30px;
}
.payment-method{
  height: 30px;
  width: 200px;
}
.search{
  margin-top: 22px;
  transform: translate(430px);
  position: absolute;
  height: 25px;
  width: 25px;
}
.heart{
  margin-top: 18px;
  height: 30px;
  width: 30px;
}
.email-icon{
  height: 30px;
  width: 30px;
}
.cart{
  margin-top: 18px;
  margin-left: 18px;
  height: 30px;
  width: 30px;
}
.links{
  margin-top: 20px;
  margin-right: 40px;
  color: black;
  font-weight: 600;
  text-decoration: none;
}
.links:hover{
  color: rgb(70, 171, 114);
}
.catg-pics{
  height: 150px;
  width: 120px;
}
.card-body{
  align-items: center;
  font-size: 14px;
  text-align: center;
  padding-bottom: 8px;
}
.card{
  width: 170px;
  height: 220px;
  font-size: 14px;
  text-align: center;
  border-radius: 18px;
  align-items: center;
  margin-bottom: 20px;
}
.card-img{
  align-content: center;
  border-radius: 18px;
  padding: 6px;
  height: 180px;
  width: 165px;
}
.card-text{
  padding-bottom: 12px;
}
.forms{
  justify-content: space-around;
}
.form{
  border:solid 1px black;
 display: flex;
 flex-direction: column;
 gap: 2px;
}
.btn{
  background-color: lightgray;
  font-weight: 600;
  border: 1px ;
  margin-bottom: 20px;
}
.big-card-img{
  align-content: center;
  border-radius: 18px;
  padding: 6px;
  height: 280px;
  width: 265px;
}
.big-card{
  height: 400px;
  width: 270px;
  border:solid 1px lightgray;
  font-size: 14px;
  text-align: left;
  border-radius: 18px;
  align-items: center;
  margin-bottom: 20px;
}
.big-card-text{
  margin-left: 14px;
}
.shp-btn{
  padding: 8px 14px 8px 14px;
}
.deals{
  margin-left: 60px;
  position: relative;
  width: 600px;
}
.deals-img{
  width: 450px;
  height: 400px;
}
.deals-text{
  position: absolute;
  transform: translate(20%, -140%);
}
.women-clothing{
  position: relative;
  width: 600px;
}
.women-clothing-img{
  width: 450px;
  height: 400px;
}
.women-clothing-text{
  position: absolute;
  transform: translate(20%, -140%);
}
.timer{
  background-color: lightseagreen;
  padding: 4px;
}
.Hot-releases-img{
  height: 60px;
  width: 60px;
}
.Deals-Outlet-img{
  height: 60px;
  width: 60px;
}
.Top-Selling-img{
  height: 60px;
  width: 60px;

}
.Trendy-img{
  height: 60px;
  width: 60px;
}
.footer-1{
  padding-top: 5px;
  height: 90px;
  display: flex; 
  justify-content: space-around; 
  background-color: rgb(165, 192, 176); 
  margin: 0;
}
.footer-2{
  display: flex; 
  justify-content: space-around;
}
.subs-btn{
  font-size: 14px; 
  background-color: black; 
  height: 40px; 
  color: white; 
  border: none;
  padding-left: 18px;
  padding-right: 18px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.email-bar{
  padding-top: 20px; 
  height: 40px; 
  margin-bottom: 30px;
}
.account{
  border: solid 1px lightgrey;
  padding: 6px 10px 6px 10px;
}
